body {
    background-color: rgb(211, 211, 211); 
    /* background-image: linear-gradient( 115deg, rgba(245, 245, 245, 0.9), 
    rgba(242, 242, 243, 0.9) ), 
    url("../images/foo\ faigthers\ logo\ 2.png");
    font-weight: bold; */
    font-family: 'Sora', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5;
}

#main {
    width: 70%;
    display: block;
    margin: auto;
}

#title {
    text-align: center;
}

#img-div img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#tribute-info ul li {
    margin: 15px;
}

footer {
    margin: 50px 10px;
}